<!DOCTYPE html>
<html>
<head>
	 <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <title>Home Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Sirin+Stencil" rel="stylesheet">
	<title>Results</title>
	<style>
        .display {
            position: relative;
            background: linear-gradient(#242222,transparent), url("https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=738&q=80");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .navbar-brand {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 30px;
        }

         .panel-heading {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 35px;
            margin-left: 33%;
        }
        .form-group, .form-control {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 15px;
        }

        .panel-body{
          margin-left: 33%
        }
        body{
          color: white;
        }


</style>
</head>
<body class="display">
	
	<div class="panel panel-default">
	  <div class="panel-heading">NearBy Restaurants</div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">{{rest_names0}}</div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">{{rest_names1}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names2}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names3}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names4}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names5}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names6}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names7}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names8}}</div>
	</div>

	<div class="panel panel-default">
  		<div class="panel-heading">{{rest_names9}}</div>
	</div>

</body>
</html>