<!DOCTYPE html>
<html>
<head>
	 <meta name="viewport" content="width=device-width" />
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <title>Home Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Sirin+Stencil" rel="stylesheet">
	<title>Results</title>
	<style>
        .display {
            position: relative;
            background: linear-gradient(#242222,transparent), url("https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=738&q=80");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .navbar-brand {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 30px;
        }

         .panel-heading {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 35px;
            /*margin-left: 33%;*/
            border-color:white;
            border-style: double;
        }
        .form-group, .form-control {
            font-family: Sirin Stencil;
            font-weight: 400;
            font-size: 15px;
        }

        .panel-body{
          margin-left: 33%;
        }

        .container{
          width: 50%;
          /*margin-top: 5%;*/
        }
        body{
          font-style: "Cabin Sketch"
        }
        .headings{
          font-family: "Sirin Stencil";
          font-weight: 400;
          font-size: 30px;
        }

    .accordion {
    font-family: Sirin Stencil;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
  font-family: Sirin Stencil;
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.h3style{
  font-style: "Cabin Sketch"
}
</style>
</head>
<body class="display">
	
  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Node-Zomato</a>
            </div>
        </div>
    </nav>

  <div class="container">
    <div class="row">
      <div class= "col">
        <button class=" h3style accordion ">{{rest_name0.name}}</button>
        <div class="panel">
          <p>Cuisine: {{rest_name0.cuisine}}</p>
          <p>Rating: {{rest_name0.rating}}</p>
          <p>Cost for two: {{rest_name0.cost2}}</p>
          <p>Locality: {{rest_name0.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names1.name}}</button>
        <div class="panel">
          <p>Cuisine: {{rest_names1.cuisine}}</p>
          <p>Rating: {{rest_names1.rating}}</p>
          <p>Cost for 2: {{rest_names1.cost2}}</p>
          <p>Locality: {{rest_names1.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names2.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names2.cuisine}}</p>
          <p>Rating: {{rest_names2.rating}}</p>
          <p>Cost for two: {{rest_names2.cost2}}</p>
          <p>Locality: {{rest_names2.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names3.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names3.cuisine}}</p>
          <p>Rating: {{rest_names3.rating}}</p>
          <p>Cost for two: {{rest_names3.cost2}}</p>
          <p>Locality: {{rest_names3.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names4.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names4.cuisine}}</p>
          <p>Rating: {{rest_names4.rating}}</p>
          <p>Cost for two: {{rest_names4.cost2}}</p>
          <p>Locality: {{rest_names4.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names5.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names5.cuisine}}</p>
          <p>Rating: {{rest_names5.rating}}</p>
          <p>Cost for two: {{rest_names5.cost2}}</p>
          <p>Locality: {{rest_names5.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names6.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names6.cuisine}}</p>
          <p>Rating: {{rest_names6.rating}}</p>
          <p>Cost for two: {{rest_names6.cost2}}</p>
          <p>Locality: {{rest_names6.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names7.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names7.cuisine}}</p>
          <p>Rating: {{rest_names7.rating}}</p>
          <p>Cost for two: {{rest_names7.cost2}}</p>
          <p>Locality: {{rest_names7.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names8.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names8.cuisine}}</p>
          <p>Rating: {{rest_names8.rating}}</p>
          <p>Cost for two: {{rest_names8.cost2}}</p>
          <p>Locality: {{rest_names8.locality}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class= "col">
        <button class="accordion">{{rest_names9.name}}</button>
        <div class="panel">
           <p>Cuisine: {{rest_names9.cuisine}}</p>
          <p>Rating: {{rest_names9.rating}}</p>
          <p>Cost for two: {{rest_names9.cost2}}</p>
          <p>Locality: {{rest_names9.locality}}</p>
        </div>
      </div>
    </div>
    <br>
      </div>
    </div>    
  </div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>

</body>
</html>